go 1.19

use (
	./gin-demo
	./go-web-demo
	./go-web-demo2
	./gorm-demo
	./leetcode
	./mysql-demo
	./project
	./protobufdemo
	./questions
	./redis
	./review
	./simple-distributed-systems
	./sqlx-demo
	./zinx
	./ztest
)
